.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100vh;
    position: relative;
    transition-property: transform;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}