.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100vh;
    position: relative;
    transition-property: transform;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.swiper{
    background-color: white;
}

.swiper-slide img{
    border-radius: 30px;
    box-shadow: 1px 1px 10px black;
}

.swiper-slide h1{
    color: black;
    font-weight: 600;
}